<router-outlet></router-outlet>

<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
      </div>
      <div class="card-body">
        <form id="Form" method="POST" action="login">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input id="Username" type="text" name="username" class="form-control" placeholder="username" required>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input id="Password" type="password" name="password" class="form-control" placeholder="password" required>
            <div class="invalid-feedback">
              Please enter password.
            </div>
          </div>
          <div class="row align-items-center remember">
            <input id="Remeber" name="remember" type="checkbox">Remember Me
          </div>
          <div class="form-group">
            <input id="Login" type="submit" value="Login" class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="#">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Custom scripts-->
<script src="./js/login.js"></script>