<div class='row mt-4'>
  <div class='col-10 offset-1'>
    <div class='row p-4'>
      <input type='text' class='col-6 offset-1' [(ngModel)]='searchTerm' placeholder="search character">
      <button class='btn btn-primary col-2' (click)='searchClick()'>Search</button>
    </div>
    <div class='row' *ngFor='let temp of _data'>
      <div class='col-6 card'>
        <div class='card-header'>
          <h5 class='col-9 card-title'>{{temp.name}}</h5>
        </div>
        <div class='card-body'>
          <div class='col-6 card-text'>Height: {{temp.height}} cm</div>
          <div class='col-6 card-text'>Mass: {{temp.mass}} kg</div>
          <div class='col-6 card-text'>Birth Year: {{temp.birth_year}}</div>
        </div>
      </div>
    </div>
  </div>
</div>